.optional-block, .optional-line {
    display: none;
}

.wait .popup-loader,
.dnt .DntArea,
.dntTaskDisabled .DntButtonEnable,
.dntBlocking .DntMenuDisableBlockingOnThisSite,
.dntBlocking .DntMenuDisableBlocking,
.dntDetecting .DntBody, .dntUserDisabled .DntBody,
.dntDetecting .DntMenuEnableBlocking, .dntUserDisabled .DntMenuEnableBlockingOnThiSite,
.dntDetecting .scrollable-content .DntMenuDisableBlockingOnThisSite,
.dntUserDisabled .scrollable-content .DntMenuDisableBlocking,
.dntCheckLicense .DntCheckLicenseButton,
.dntRestrictionSubscription .DntSubscriptionButton,
.dntRestrictionSubscription .DntShieldIcon,
.DntCategory .dnt-category,
.dntIncompatible .scrollable-content .DntMenuDisableBlockingOnThisSite,
.dntIncompatible .scrollable-content .DntMenuDisableBlocking,
.dntIncompatibleDetecting .scrollable-content .DntMenuDisableBlockingOnThisSite,
.dntIncompatibleDetecting .scrollable-content .DntMenuEnableBlocking,
.dntOffAsPartner .scrollable-content .DntMenuDisableBlockingOnThisSite,
.dntOffAsPartner .scrollable-content .DntMenuDisableBlocking,
.dntOffAsPartnerDetecting .scrollable-content .DntMenuDisableBlockingOnThisSite,
.dntOffAsPartnerDetecting .scrollable-content .DntMenuEnableBlocking,
.dntFail .scrollable-content .dntMenuShowBlockingFailures,
.scrollable-content .DntExpandedContent,
.scrollable-content .DntMenuSettings,
.scrollable-content .DntMenuHelp,
.dntExpand .DntBody,
.dntCategoryExpanded .dnt-tracker-name-blocked, .dntCategoryExpanded .dnt-tracker-name,
.ab .AntiBannerArea,
.abBlocking .abDisableOnThisSiteButton,
.abOffByUser .AbBody, .abOffByUser .abEnableBlockingOnSite,
.abOffAsIncompatible .abDisableOnThisSiteButton,
.abOffAsPartner .abDisableOnThisSiteButton,
.abTaskOff .abEnable,
.abExpand .AbBody,
.abExpand .abDisableButton, .abExpand .abSettingsButton, .abExpand .abHelpButton,
.abDisabledAfterReload .AbBody, .abDisabledAfterReload .abEnableBlockingOnSite,
.abEnabledAfterReload .abDisableOnThisSiteButton,
.abCheckLicense .abCheckLicenseButton,
.abRestrictionSubscription .abRestrictionSubscriptionButton,
.abRestrictionSubscription .abShieldIcon,
.vk .VkArea,
.phfb .PhfbArea,
.bwfb .BwfbArea,
.noProtectionBanner .NoProtectionBannerAreaMac,
.webavMac .WebAVAreaMac,
.dntMac .DntAreaMac,
.caMac .CaAreaMac,
.safeMoneyMac .SafeMoneyAreaMac,
.dupPasswordMac .DupPasswordAreaMac,
.pcMac .PcAreaMac,
.urlAdvMac .UrlAdvAreaMac,
.vkMac .VkAreaMac,
.helpInfoMac .HelpInfoAreaMac {
    display: block;
}

.dntCheckLicense .DntCheckLicenseText, .dntTaskDisabled .DntTaskDisabledText, .dntRestrictionSubscription .DntTaskDisabledText,
.dntDetecting .DntBlockingDisabledText, .dntUserDisabled .DntBlockingDisabledOnThisSiteText,
.dntBlocking .DntBlockedTrackersText, .dntDetecting .DntDetectedTrackersText, .dntUserDisabled .DntDetectedTrackersText,
.dntIncompatible .DntIncompatibleText, .dntIncompatible .DntBlockingDisabledOnThisSiteText,
.dntIncompatibleDetecting .DntIncompatibleText, .dntIncompatibleDetecting .DntBlockingDisabledOnThisSiteText,
.dntOffAsPartner .DntTrustedText, .dntOffAsPartner .DntBlockingDisabledOnThisSiteText,
.dntOffAsPartnerDetecting .DntTrustedText, .dntOffAsPartnerDetecting .DntBlockingDisabledOnThisSiteText,
.DntCategoryNotBlocked .PopupDntCategoryTitleNoteNotBlocked,
.DntCategoryPartiallyBlocked .PopupDntCategoryTitleNotePartiallyBlocked,
.abBlocking .abBlockingText,
.abTaskOff .abTaskDisabledText,
.abCheckLicense .abCheckLicenseText,
.abOffByUser .adBlockingDisabledOnThisSite, .abOffAsIncompatible .adBlockingDisabledOnThisSite, .abOffAsPartner .adBlockingDisabledOnThisSite,
.abOffAsIncompatible .abIncompatibleDescription, .abOffAsPartner .abIncompatiblePartnerDescription,
.abEnabledAfterReload .abBlockAfterReloadText,
.abDisabledAfterReload .abDisableAfterReloadText,
.abRestrictionSubscription .abTaskDisabledText {
    display: inline;
}

html {
    height: min-content;
}

.popup-loader-footer {
    display:none;
}
